<% provide(:title, "About") %>
  <h1>Shanes About Page</h1>
  <p>
    This is my about page
    <a href="http://rails-tutorial-babyanez.c9users.io:8080/static_pages/home">Please click this to go to my home page.</a>
  </p>