<% provide(:title, "Home") %>
  <h1>Shanes Sample App</h1>
  <p>
    This is my homepage
    <a href="http://rails-tutorial-babyanez.c9users.io:8080/static_pages/help">Please click this to go to my help page.</a>
    <a href="http://rails-tutorial-babyanez.c9users.io:8080/static_pages/about">Please click this to go to my about page.</a>
    <a href="http://rails-tutorial-babyanez.c9users.io:8080/static_pages/contact">Please click this to go to my contact page.</a>
  </p>